*{
    margin: 0;
    padding: 0;
}
header{
    background-color: blue;
    height: 25vh;
    width: 100vw;
}
header div {
    font-size: 60px;
    text-align: center;

}
 header div ul{
     display: flex;
     text-align: center;
 }
