*{
    margin: 0;
    padding: 0;
}
.animation{
    height: 1000px;
    width: 100px;
    display: flex;
   justify-content: flex-start;
    align-items: center;
    animation: animation 1s linear  infinite;
}
@keyframes animation{
    0%{
        transform: translateX(10000px);
    }
    20%{
        transform: translateX(5000px);

    }
    100%{
        transform: translateX(0);
    }
}


